# Build
build/
build
.gradle/
/bin
/bin.*
bin/
# IDE
.vscode
.idea/
/.project
.project

/eclipse-build
/classes
/idea-build
dist
lib
/.classpath
/.settings
/.caches
.DS_Store
.classpath
.settings
.caches